@font-face {
    font-family: "superMagicRegular";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/superMagicRegular/superMagicRegular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/superMagicRegular/superMagicRegular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/superMagicRegular/superMagicRegular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/superMagicRegular/superMagicRegular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/superMagicRegular/superMagicRegular.ttf") format("truetype");
    font-display: swap;
} 
.superMagicRegular {
    font-family: "superMagicRegular";
}